/* Налаштування основного - початок */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Налаштування основного - кінець */

/* Налаштування навігаційної панелі - початок */

nav {
    display: flex;
    justify-content: center;
    background-color: #263B7C;
    height: 40px;
}

.Logo, .nav_menu {
    margin-right: 24px;
    display: inline-block;
    vertical-align: middle;
}

.Logo img {
    vertical-align: middle;
    width: 36px;
}

.nav_menu li {
    margin-right: 24px;
    display: inline-block;
    vertical-align: middle;
}

.nav_menu .page_now {
    color: gold;
}

.nav_menu a {
    vertical-align: middle;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.nav_menu button {
    vertical-align: middle;
    font-size: 24px;
    background-color: #263B7C;;
    color: white;
    border: none;
    cursor: pointer;
}

.nav_menu a:hover {
    color: yellow;
}

.nav_menu button:hover {
    color: yellow;
}

.Logo:hover img {
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* Налаштування навігаційної панелі - кінець */

/* Налаштування заголовку сторінки - початок */

.title_main {
    margin-top: 16px;
    text-align: center;
}

.title_main h1 {
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
}

/* Налаштування заголовку сторінки - кінець */

/* Налаштування основного контенту сторінки - початок */

.top10_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.top10_content span {
    font-weight: bold;
}

.top10_content button {
    background-color: #263B7C;
    width: 120px;
    border-radius: 8px;
}

.top10_content a {
    text-decoration: none;
    color: white;
}

.top10_content a:hover {
    color: yellow;
}

.photo1 img {
    width: 150px;
    height: 205px;
}

.photo2 img {
    width: 150px;
    height: 150px;
}

.photo3 img {
    width: 150px;
    height: 185px;
}

.photo4 img {
    width: 150px;
    height: 205px;
}

.photo5 img {
    width: 150px;
    height: 185px;
}

.photo6 img {
    width: 150px;
    height: 185px;
}

.photo7 img {
    width: 150px;
    height: 185px;
}

.photo8 img {
    width: 150px;
    height: 150px;
}

.photo9 img {
    width: 150px;
    height: 170px;
}

.photo10 img {
    width: 150px;
    height: 185px;
}

.photo1:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo2:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo3:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo4:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo5:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo6:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo7:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo8:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo9:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.photo10:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease 0.3s;
}

.top {
    width: 660px;
    height: 100%;
    margin-top: 16px;
    border: black 1px solid;
    border-radius: 8px;
    padding: 16px;
    background-color: lightblue;
}

.top img {
    position: absolute;
}

.top p {
    margin-left: 164px;
    width: 500px;
}

.top button {
    margin-top: 40px;
    margin-left: 540px;
}

/* Налаштування основного контенту - кінець */

/* Налаштування футеру сайту - початок */

.footer{
    background:#263B7C;
    padding: 30px;
    margin-top: auto;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .row{
    width:100%;
    padding:0.6% 0%;
    color:white;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color: white;
    transition:0.5s;
}

.footer .row a:hover{
    color:yellow;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

.footer button {
    vertical-align: middle;
    font-size: 1em;
    background-color: #263B7C;
    color: white;
    border: none;
    cursor: pointer;
}

.footer button:hover {
    color: yellow;
}

/* Налаштування футеру сайту - кінець */

/* Налаштування адаптації для телефонів і т.д. - початок */

@media screen and (max-width: 990px) {

    .nav_menu {
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: #263B7C;
        margin-top: 40px;
        width: 100%;
    }

    .nav_menu li {
        display: block;
        padding-left: 35%;
        margin-top: 16px;
        padding-bottom: 24px;
    }

    .title_main h1 {
        padding-top: 300px;
    }

    .top {
        width: 300px;
    }

    .top p {
        width: 300px;
        margin-top: 250px;
        margin-left: 0px;
    }

    .top button {
        margin-top: 16px;
        margin-left: 0px;
    }

    .Logo img {
        height: 35px;
    }
}

/* Налаштування адаптації для телефонів і т.д. - кінець */